# --- API CONFIGURATION ---
# URL base da API do Django
VITE_API_URL=http://localhost:8000/api/

# --- FEATURE FLAGS (Opcional) ---
# Exemplo: Habilitar/Desabilitar logs em produção
VITE_ENABLE_LOGS=true